body{
    font-family: 'Rubik', sans-serif;
    margin: 0;
}
.welcome-area{
    display: flex;
    padding: 20px 0;
}
.welcome-half-area{
    width: 49%;
    margin-left: 7%;
}
.welcome-half-area h1{
    font-size: 45px;
    font-weight: 700;
    color: #575757;
}
.welcome-half-area p{
    font-size: 16px;
    font-weight: 400;
    color: #828282;
}
.welcome-half-area img{
    width: 450px;
    height: 450px;
    border-radius: 50%; 
    border: 5px solid rgb(194, 126, 126);
}
.welcome-heading{
    color: #FB934A;
}
a.visit-button{
    padding: 14px 40px;
    background-image: linear-gradient(
       to right, #FB9149,#FD492E);
    text-decoration: none;
    border-radius: 30px;   
    color: #FFFFFF;
    font-weight: 700;
    margin-top: 7px;
    display: inline-block;
    box-shadow: 14px 15px 50px 2px #fee7d8;
}
.about-area {
    display: flex;
    padding-top: 175px;
    background-image: url(images/Frame1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.about-half-area {
    width: 49%;
    margin-left: 7%;
}

.about-half-area img {
    width: 550px;
    height: 550px;
}
.about-half-area h1{
    font-size: 45px;
    font-weight: 700;
    color: #575757;
}
.about-half-area p{
    font-weight: 400;
    font-size: 16px;
    padding-right: 60px;
    margin-bottom: 30px;
    color: #828282;
}
.foodies-gallery-sec{
    padding: 80px 0;
}
.foodies-tittle{
    text-align: center;
    padding-bottom: 40px;
}
.foodies-tittle h1{
    font-size: 35px;
    font-weight: 700;
    color: #676767;
}
.foodies-tittle p{
    padding: 0 300px;
    color: #676767;
}
.fexible-foodies-area{
    display: flex;;
}
.foodies-gallery img{
    width: 100%;
    border-radius: 15px;
    height: 250px;
    
}
.foodies-gallery{
    margin: 0 3%;
    box-shadow: 10px 12px 40px #cac6c6;
    text-align: center;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 20px;
    width: 30%;
}
.foodies-gallery h3{
    font-size: 26px;
    font-weight: 700;
    color: #676767;
}
.foodies-gallery ul li{
    list-style: circle;
    font-size: 18px;
    color: #676767;
}
.resturant-sec{
    padding: 0 0 80px 0;
}
.gallery-tittle{
    width: 100%;
    text-align: center;
}
.gallery-tittle h1{
    font-size: 38px;
    font-weight: 700;
    color: #676767;;
} 
.gallery-image{
    display: inline-block;
    align-items: center;
    margin-left: 2%;
}
.gallery-image img{
    width: 30%;
    height: 350px;
    padding:15px 5px;
    margin: 0 1%;
}
